@tailwind base;
@tailwind components;
@tailwind utilities;

/* contoh bikin custom class */
.table-wrapper {
  @apply overflow-auto rounded-lg shadow border border-gray-300;
}
/* 
thead tr th:first-child {
  position: sticky;
  left: 0;
  z-index: 9;
}

tbody tr td:first-child {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
} */